---
layout: default
title:  "Gallery"
date:   2017-09-04
categories: gallery
---

{% assign boxes = site.data.book_data | group_by: "box" %}
{% assign series_ids = site.data.book_data | sort: "series" | group_by: "series" %}
{% assign boxes_images = site.data.image_list | group_by: "box" %}

<h1>Gallery</h1>

<p>A gallery of all works grouped up by Katz Collection box number and series title.</p>

<p>The galley contains:
  <ul>
    <li><strong>{{ site.data.book_data | size }}</strong> books by {{ site.data.author_counts | size }} authors</li>
    <li><strong>{{ site.data.graph_data | size }}</strong> network data files</li>
    <li><strong>{{ site.data.image_list | size }}</strong> network graphs</li>
  </ul>
</p>

<p>Click on a story graph to view a book detail page with data, logs, images and graph files. Multiple graphs may be grouped under one book. If a book is listed as a duplicate in the Katz catalog (e.g. 01-02 is listed as a duplicate of 01-01) then its graph detail page appears without a catalog heading.</p>

<p><a href="#index">[Index]</a></p>

{% for box in boxes %}
  <a name="box{{ box.name }}"></a>
  <h2>Box {{ box.name }}</h2>{%
  assign box_images = boxes_images | where: "name", box.name %}{%
  assign box_images = box_images[0] %}{%
  assign series_list = box.items | group_by: "series" %}{%
  for series in series_list %}
    <a name="series{{ series.items[0].series_id }}"></a>
    <h3>{{ series.name }}{% if series.name == series_last %} [Continued]{% endif %}</h3>{%
    assign series_last = series.name %}{%
    for book in series.items %}{%
      assign book_images = box_images.items | where: "box_folder", book.id %}{%
      for image in book_images %}
        <figure style="display: inline-block; text-align: center;">
          <a href="{{ site.baseurl }}/gamebooks/{{ book.id }}.html" target="_blank"><img src="{{ site.baseurl }}/assets/gamebooks/thumb/{{ image.image }}" alt="{{ image.image | remove: ".txt.gv.png" }}"/></a>
          <figcaption>{{ book.id }}</figcapture>
        </figure>{%
      endfor %}{%
    endfor %}{%
  endfor %}{%
endfor %}

<hr>
<a name="index">
<h1>Boxes Index</h1>

<p>Boxes: {% for box in boxes %} | <a href="#box{{ box.name }}">{{ box.name }} </a>{% endfor %}</p>

<p>Series IDs:</p>
<ul>{% 
for this_series in series_ids %}
  <li><a href="#series{{ this_series.items[0].series_id }}">{{ this_series.items[0].series }}</a> ({{ this_series.items[0].series_id }})</li>{%
endfor %}
</ul>
